:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1F2937;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #122a2c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ee7c0b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #E5E7EB;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ee7c0b;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: #d66a09;
  border-color: #d66a09;
}
button:focus,
button:focus-visible {
  outline: 2px solid #ee7c0b;
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1F2937;
    background-color: #FFFFFF;
  }
  a:hover {
    color: #ee7c0b;
    text-decoration: underline;
  }
  button {
    background-color: #ee7c0b;
    color: #FFFFFF;
  }
}
